---
layout: default
comments: true
---

<article class="single row gutters">
  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
  <h2>{{ page.title }}</h2>

  {{ content }}
</article>

<!-- Share Links -->
<div class="share-media">
  <span>Share:</span>
  <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url | append: page.url }}" class="fa fa-facebook"></a>
  <a href="http://twitter.com/share?url={{ site.url | append: page.url }}&text={{ post.content | strip_html | truncatewords: 40 }}" class="fa fa-twitter"></a>
  <a href="https://plus.google.com/share?url=<BTN>" class="fa fa-google"></a>
  <a href="http://www.linkedin.com/shareArticle?url={{ site.url | append: page.url }}&title={{ page.title }}&summary={{ post.content | strip_html | truncatewords: 50 }}" class="fa fa-linkedin"></a>
  <a href="http://reddit.com/submit?url={{ site.url | append: page.url }}&title={{ page.title }}" class="fa fa-reddit"></a>
</div>

<!-- Disqus Comments Section -->
<h3>Comments</h3>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://ellieborden-tech.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
